.home {
    height: 1110px;
    position: relative;
    width: 100%;

    .container {
        height: 100%;
    }

    & > img {
        position: absolute;
        right: -10px;
        top: 300px;
        z-index: 0;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url("../img/back.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        bottom: 0;
    }
}

.home-main {
    @include flex(space-between, center);
    flex-direction: column;
    position: relative;
    top: 51px;

    & h1 {
        position: relative;
        right: -3.5px; // для выравнивания по центру как на макете
    }
    
}

.home-titles {
    @include flex(space-between, center);
    flex-direction: column;

    // height: 225px;
    gap: 20px;
}

.home-banners {
    @include flex(space-between, flex-start);
    position: relative;
    top: 5px;
    width: 100%;
}

.show-more {
    @include flex(space-between, flex-start);
    padding: 26px;
    width: 260px;
    background: linear-gradient(360deg, $green-blue 20%, $grey-medium 100%);
    border-radius: 15px;
    gap: 20px;

    & button {
        @include flex(center, center);
        height: 68px;
        width: 68px;
        border-radius: 50%;
        background: linear-gradient(180deg, $gold 5%, $gold-dark 100%);
        border: 2px solid $gold;
        cursor: pointer;
    }

    & span {
        font-size: 16px;
    }

    & span:first-child {
        font-weight: bold;
    }
}

.banner-info {
    @include flex(flex-start, center);
    flex-direction: column;
    position: relative;
    width: 273px;
    height: 372px;

    // padding: 26px;
    border: 2px solid $gold;
    border-radius: 20px;
 
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, $gold 15%, $gold-dark 90%);
        position: absolute;
        border-radius: 17px;

        // border: 2px solid $gold;
        opacity: 0.7;
    }

    & > span {
        position: relative;
        font-size: 18px;
        z-index: 1;
        text-align: center;
        line-height: 1.4;
        top: 33px;
        padding-top: 26px;
    }

    & > span::first-line {
        font-weight: bold;
        color: $gold;
    }
}

.home-booking {
    @include flex(center, center);

    // max-width: 30%;
    position: relative;
    top: 33px;

    // margin: auto;

    & img {
        position: absolute;
        left: 89%;
        top: 0;
    }
}

.home-booking-info {
    @include flex(space-between, center);
    flex-direction: column;
    gap: 15px;
    
    & > span {
        position: relative;
        top: 2px;
        text-align: center;
        font-size: 12px;
        line-height: 1.3;
    }

}

.home-booking-info button {
    @include flex(center, center);
    background: linear-gradient(-90deg, $gold 5%, $gold-dark 100%);
    width: 264px;

    height: 68px;
    padding: 22px 39px;
    border-radius: 10px;
    border: none;
    position: relative;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        inset: 4px;
        border: 1px solid $gold;
        border-radius: 8px;
    }
    
    & span {
        font-family: $title-font;
        color: $black;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.2px;
        letter-spacing: 0.05em;
    }

}

.pictures {
    // @include flex(center, center);
    position: absolute;
    z-index: 2;
    top: 525px;
}


.home-info {
    @include flex(space-between, flex-start);
    position: absolute;

    // bottom: -125px;
    top: 950px;
    width: 98%;

    // max-height: 273px;
    background: $black;
    border-radius: 41px;
    padding: 50px;

    // gap: 4,5%;

    &::after {
        content: "";
        position: absolute;
        inset: 10px;
        border: 2px solid $gold;
        border-radius: 40px;
    }

    & div {
        @include flex(flex-start, center);
        flex-direction: column;
        max-width: 223px;
        gap: 5%;

        // height: 100%;
    }

    & > div > span:first-child {
        text-align: center;
        font-family: $title-font;
        font-size: 80px;
        line-height: 96px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        color: $gold;
    }

    & > div > span:nth-child(2) {
        text-align: center;
        font-size: 20px;
        position: relative;
        top: -0.5em;
    }
}
